<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/threejs/r84/three.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <title>Poke Grand Prix</title>
</head>
<body>
    <div id="level_holder"></div>
    
    <script src='C:\Users\ROliv\OneDrive\Desktop\CodingDojo\poke\PGP\apps\game_window\static\game_window\js\script.js'></script>
    <script src='C:\Users\ROliv\OneDrive\Desktop\CodingDojo\poke\PGP\apps\game_window\static\game_window\js\level.js'></script>
</body>
</html>